  .titulo{
    position:sticky;
    top: 1px;
    color: aqua;
    text-align: center;
    background-color:rgb(65, 64, 64);
    width:auto;
  }
  .titulo:hover{
    border: 2px solid springgreen;
  }
  .desarrollo{
    position: absolute;
    top: 45px;
    left: 79%;
    color: rgb(224, 224, 224);
    font-size: 10px;
  }

  .lastPEL:active{
    margin: 2px;
    color: rgb(1, 1, 65);

  }
  .logoA{
    position: relative;
    right: 38%;
    margin-left: 40%;
    margin-right: 40%;
  }

  body{
    background-color: rgb(65, 64, 64);
  }

  .lastPEL{
    background-color: rgb(109, 214, 214);
    color:rgb(37, 36, 36);
    font-family: light;
     margin-left: 15px;
     text-align: left;
     font-size: 12px;
  }

  .pelis
  {
     position: fixed;
     top: 150px;
     left: 70px;
     font-style:initial;
     color: azure;
  }

  .img_ultimas{
    
    margin-left: 3%;
    width: 600px;
    height: 250px;
  }

  .todoPel{
    margin-left: 3%;
    width: auto;
    height: auto;
    
  }


  .info{
    position:relative;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    margin-top: 15px;
    width:auto;
    height: 100px;
    background: rgb(231, 84, 165);
  }

  .logoB{
    text-align: center;
    font-size: 11px;
    
  }

  .rtx{
    border: 2px solid rgba(79, 43, 241, 0.514);
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    background-color: rgb(165, 165, 165);
  }

  .contenidoInfo{
    position: absolute;
    font-family: info;
    margin-left: 18%;
    font-size: 22px;
  }

  .reproductor{
    width: auto;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  @font-face {
    font-family: light;
    src: url(fuente1.otf);
  }

  @font-face {
    font-family: info;
    src: url(fuente2.ttf);
  }
  

  